CONFIG_ESPTOOLPY_BAUD_921600B=y
CONFIG_ESPTOOLPY_BAUD=921600
CONFIG_TASK_WDT=
CONFIG_ESP32_WIFI_TASK_PINNED_TO_CORE_0=y

#
# ESP32 Camera Demo Configuration
#
CONFIG_ESP_WIFI_IS_SOFTAP=y
CONFIG_ESP_WIFI_MODE_AP=y
CONFIG_ESP_WIFI_SSID="M5Cam"
CONFIG_ESP_WIFI_PASSWORD=""
CONFIG_MAX_STA_CONN=1
CONFIG_XCLK_FREQ=8000000

#
# Pin Configuration
#
CONFIG_D0=17
CONFIG_D1=35
CONFIG_D2=34
CONFIG_D3=5
CONFIG_D4=39
CONFIG_D5=18
CONFIG_D6=36
CONFIG_D7=19
CONFIG_XCLK=27
CONFIG_PCLK=21
CONFIG_VSYNC=22
CONFIG_HREF=26
CONFIG_SDA=25
CONFIG_SCL=23
CONFIG_RESET=15
